## MODEL TRAINING


### 1.1 Import Data and Required Packages

Importing Pandas, Numpy, Matplotlib, Seaborn and Warnings Library

In [55]:
# Basic Import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
# Modelling
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import warnings

### Import the CSV Data as Pandas DataFrame

In [56]:
df = pd.read_csv('data/stud.csv')

In [57]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

### Preparing X and Y variables

In [58]:
X = df.drop(columns = ['math_score'], axis=1)

In [59]:
X.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75

In [60]:
y = df['math_score']

In [61]:
print(f"Categorical Features in 'gender' variable: {x['gender'].unique()}")
print(f"Categorical Features in 'race_ethnicity' variable: {x['race_ethnicity'].unique()}")
print(f"Categorical Features in 'parental_level_of_education' variable: {x['parental_level_of_education'].unique()}")
print(f"Categorical Features in 'lunch' variable: {x['lunch'].unique()}")
print(f"Categorical Features in 'test_preparation_course' variable: {x['test_preparation_course'].unique()}")

Categorical Features in 'gender' variable: ['female' 'male']
Categorical Features in 'race_ethnicity' variable: ['group B' 'group C' 'group A' 'group D' 'group E']
Categorical Features in 'parental_level_of_education' variable: ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
Categorical Features in 'lunch' variable: ['standard' 'free/reduced']
Categorical Features in 'test_preparation_course' variable: ['none' 'completed']

In [62]:
# Create column Transformer with 3 types of transformers
num_features = X.select_dtypes(exclude= "object").columns
cat_features = X.select_dtypes(include="object").columns

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder()

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder", oh_transformer,cat_features),
        ("StanndardScalar", numeric_transformer, num_features),

    ]
)

In [63]:
X = preprocessor.fit_transform(X)

In [64]:
X.shape

(1000, 19)

In [65]:
#seperate dataset into train and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2,random_state = 42)
X_train.shape, X_test.shape

((800, 19), (200, 19))

##### Create an Evaluate Functions to give all metrics after model Training

In [66]:
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square  = r2_square(true, predicted)
    return mae, rmse, r2_square

In [67]:
models = {
    "Linear Regression" : LinearRegression(),
    "Lasso" : Lasso(),
    "Ridge" : Ridge(),
    "K-Neighbors Regressor" : KNeighborsRegressor(),
    "Descion Tree" : DecisionTreeRegressor(),
    "Random Forest Regressor" : RandomForestRegressor(),
    "XGBRegressor" : XGBRegressor(),
   "CatBoostRegressor" : CatBoostRegressor(verbose=False),
   "AdaBoost Regressor" : AdaBoostRegressor() 
    }
model_list = []
r2_list = []

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train) # Train model

    #Make Predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    
    #Evaluvate Train and test dataset
    model_train_mae , model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)
    model_test_mae , model_test_rmse, model_test_r2 = evaluate_model(y_test,y_test_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model Performance for Training Set')
    print(" -Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print(" -Mean Absolute Error: {:.4f}".format(model_train_mae))
    print(" - R2 score :{:.4f}".format(model_train_r2))

    print('-------------------------------------------------')

    print('Mpdel performance for Test set')
    print(" -Root Mean squared Error : {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error : {:0.4f}".format(model_test_mae))
    print(' - R2 Score: {:0.4f}'.format(model_test_r2))
    r2_list.append(model_test_r2)

    print('='*35)
    print('\n')

UnboundLocalError: local variable 'r2_square' referenced before assignment